<div class="container mt-4">
  <div class="row ml-1">
    <h5> {{ user.knownAs }}'s Profile</h5>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ user.photoUrl ||  '../../../assets/user.png' }}" alt="{{ user.knownAs }}" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <p>
              <strong>Location: </strong>  {{ user.city }}, {{ user.country }} 
            </p>
          </div>
          <div>
            <p>
              <strong>Age: </strong>  {{ user.age }} 
            </p>
          </div>
          <div>
            <p>
              <strong>Last active: </strong>  {{ user.lastActive | timeAgo}} 
            </p>
          </div>
          <div>
            <p>
              <strong>Member since: </strong> {{ user.created | date: 'mediumDate' }} 
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button *ngIf="isLiked === 0" class="btn btn-primary w-100" id="likeButton" (click)="sendLike()">Like</button>
            <button *ngIf="isLiked === 1" class="btn btn-primary w-100" id="likeButton" (click)="unlike()">Unlike</button>
            <button *ngIf="isLiked === 2" class="btn btn-primary w-100" id="likeButton" [disabled]=true>We Love You</button>
            <button class="btn btn-success w-100" (click)="selectTab(2)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #tabSet>
          <tab heading="About" (selectTab)="triggerMessageTap(false)">
            <h4>Description</h4>
            <p>{{ user.introduction }}</p>
            
            <h4>Looking for</h4>
            <p>{{ user.lookingFor }}</p>

            <h4>Interests</h4>
            <p>{{ user.interests }}</p>
          </tab>
          <tab heading="Photos" (selectTab)="triggerMessageTap(false)">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Messages" (selectTab)="triggerMessageTap(true)">
            <app-member-messages [activatedTap]="messageTap" [recipient]="user"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>