.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.datingMenu {
  width: 100%;
  z-index: 2;
  display: block;
}

.user-image > img {
  max-height: 40px;
  border: 2px solid white;
  border-radius: 100%;
  display: inline;
  text-align: center;
}