<div style="height: fit-content !important;" class="container-fluid pt-2" *ngIf="screenWidth >= 768">
  <div style="height: fit-content !important;" class="row">
    <div style="height: fit-content !important;" class="col-sm-3 souls">
      <div class="card">
        <div class="card-body">
          <div class="list-group" *ngFor="let soul of souls; index as i">
            <div class="soul" *ngIf="soul !== undefined">
              <a (click)="loadMember(i)" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-sm-2 mr-4">
                    <img src="{{ soul.photoUrl }}" alt="{{ soul.knownAs }}" class="img-circle">
                  </div>
                  <div class="col-sm-8">
                    <button class="btn btn-link">
                      <strong [routerLink]="['/members/', soul.id]"> {{ soul.knownAs }} </strong>
                    </button>
                    <p>
                      {{ soul.content }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: fit-content !important;" class="col-sm-9">
      <div class="card">
        <div *ngIf="soul" class="card-body">
          <app-member-messages class="chat" [activatedTap]="true" 
            [recipient]="soul" 
            [onMessages]="true" [isSoul]="true">
          </app-member-messages>
        </div>
        <div *ngIf="soul === undefined && soulState != 0" class="card-body">
          <app-member-messages class="chat" [activatedTap]="true" 
            [recipient]="soul" [onMessages]="true" [isSoul]="true" 
            [canGetMessages]=0>
          </app-member-messages>
        </div>
        <div *ngIf="soulState == 0" class="card-body text-center text-light chat-body">
          <span class="click-on-someone">
            Click on someone to start chating.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" *ngIf="screenWidth < 768" class="dropdown" dropdown [autoClose]="false">
  <div class="row">
    <div class="col souls">
      <div class="card">
        <div class="card-body">
          <div class="list-group" *ngFor="let soul of souls; index as i">
            <div class="soul" *ngIf="soul !== undefined" >
              <span class="dropdown-toggle" dropdownToggle>
                <a (click)="loadMember(i)"  class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-sm-2 mr-4">
                      <img src="{{ soul.photoUrl }}" alt="{{ soul.knownAs }}" class="img-circle">
                    </div>
                    <div class="col-sm-8">
                      <button class="btn btn-link">
                        <strong [routerLink]="['/members/', soul.id]"> {{ soul.knownAs }} </strong>
                      </button>
                      <p>
                        {{ soul.content }}
                      </p>
                    </div>
                  </div>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="dropdown-menu col" *dropdownMenu>
        <div class="dropdown-item card">
          <div *ngIf="soul" class="card-body">
            <app-member-messages class="chat" [activatedTap]="true" 
              [recipient]="soul" 
              [onMessages]="true" [isSoul]="true">
            </app-member-messages>
          </div>
          <div *ngIf="soul === undefined && soulState != 0" class="card-body">
            <app-member-messages class="chat" [activatedTap]="true" [recipient]="soul" 
              [onMessages]="true" [isSoul]="true" 
              [canGetMessages]=0>
            </app-member-messages>
          </div>
          <div *ngIf="soulState == 0" class="card-body text-center text-light chat-body">
            Click on someone to start chating.
          </div>
        </div>
      </div>
  </div>
</div>